<h1>All Bands</h1>

<% @bands.each do |band| %>
  <%= band.name %>
  <ul>
    <li><a href="<%= band_url(band) %>">View <%= band.name %></a></li>
    <li><a href="<%= edit_band_url(band) %>">Edit <%= band.name %></a></li>
  </ul>
<% end %>

<a href="<%= new_band_url %>" id="link_button">Create New Band</a>