<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if logged_in? %>
      <h1>Hello <%= current_user.email %></h1>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">gfhgfgh
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Sign in</a> 
      <a href="<%= new_user_url %>">Sign up</a> 
    <% end %>

    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
